page-home {
    .content-md{
        background-image: url('../../assets/imgs/fondo.png');
        color:  white;  
    }
    p{
        font-family: 'Marvel', sans-serif;
        font-size: 2rem;
    }
    .logo{
        width: 50%;
        display: block;
        margin:  3rem auto;
    }
    .img-comic{
        cursor: pointer;
    }
    .infinite-loading-text{
        color: white;
    }
    ion-spinner svg {
        stroke: white;
        fill: white;
    }
}
