

<ion-content>
    <img src="../../assets/imgs/logo2.png" alt="logo" class="logo">
    <ion-grid>
        <ion-row>
            <ion-col col-3 class="img-comic" *ngFor="let comic of listadoComics;" (click)="detalleComic(comic.id)">
                <img src="{{comic.img}}" style="min-height: 15rem;">   
                <p>{{comic.title}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

 
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content  
            loadingSpinner="bubbles"
            loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
