page-detalle {
    .toolbar-background-md{
        background-color: #420b12;
    }
    .toolbar-title-md,ion-icon{
        text-transform: uppercase;
        color: white;
        font-weight: bolder;
    }
    .content-md{
        background-color: #420b12;
        color:  white;
       
    }
    .personajes{
        width:50px;
        height:50px;
        -webkit-border-radius: 50%;
        border-radius: 50%; 
    }
}
