<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <ion-row (click)="regresar()">
            <ion-col col-2>
                <ion-icon name="return-left"></ion-icon>
            </ion-col>
            <ion-col col-10>
                <ion-title >Marvel Comics</ion-title>
            </ion-col>
        </ion-row>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <img src="{{((objetoComic | async)?.thumbnail.path)+'.jpg'}}" style="min-height: 20rem;">       
            </ion-col>
            <ion-col col-6>
                <p><b>{{(objetoComic | async)?.title}}</b></p>
                 <p><b>Vol:</b> 
                    <span *ngIf="(objetoComic | async)?.issueNumber >0">
                            {{(objetoComic | async)?.issueNumber}}
                    </span> 
                    <span *ngIf="(objetoComic | async)?.issueNumber  ==0">
                        No especificado.
                    </span> 
                   
                </p>
                 <p><b>Venta:</b> {{(objetoComic | async)?.dates[0].date | date: 'dd/MM/yyyy'}}</p>
                 <p>
                    <span *ngIf="(objetoComic | async)?.pageCount >0">
                     {{(objetoComic | async)?.pageCount}} páginas
                    </span> 
                    <span *ngIf="(objetoComic | async)?.pageCount ==0">
                        Páginas no disponible.
                    </span> 
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p><b>Descripción:</b> <br>{{(objetoComic | async)?.description}}</p>
                <p><b>Personajes:</b></p>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col col-4 *ngFor="let personaje of  (personajes | async)">
                <img src="{{(personaje.thumbnail.path)+'.jpg'}}" class="personajes">      
                <p>{{personaje.name}} </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
